.header-desktop {
    padding-left: 50px;
    padding-right: 50px;
    width: 100vw;
    height: 60px;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    font-size: 11pt;
    color: #fff;
    justify-content: space-between;
}

.desktop-mail{
    font-size: 10pt;
}